.carousel_container {
    width: 120%;
    height: 100vh;
    position: sticky;
    display: flex;
    align-items: flex-start;
    top:80px;
    grid-column: 3/4;
}

.carousel_self {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.carousel_image {
    object-fit: cover;
    position: absolute;
    filter: brightness(0.55);
    width: 100%;
    height: 100%;

}

