body {
  text-align: left;
  background-color: rgb(41, 39, 65);
  height: fit-content;
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background-image: url("../public/static/pngwing.png");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: brightness(35%) blur(16px);
  hyphens: auto;
  font-family: 'Roboto', sans-serif;
}

